{% extends "base.html" %}
{% block title %}Viewing Trips{% endblock %}

{% block content %}
<h1>Your Trips</h1>


<table>
	<ul>

		<style type="text/css">
td
{
    padding:10px 20px 20px 0px;
}
</style>
	<ul>
	{% if rows %} 
		{% for trip in rows %}
			{% if trip[4] == session['user_email']%}
				<table>
				  <tr>
				    <th>City: {{trip[1]}}</th>
				    	<tr class="separator"/>
				    <th>Date: {{trip[2]}}</th>
				    	<tr class="separator"/>
				    <th>Have you booked the trip? {{trip[3]}}!</th>
				    	<tr class="separator"/>
				  </tr>
				</table>
			{% endif %}
		{% endfor %}
	{% endif %}
	{% if acts %} 
			{% for activity in acts %}
				<table>
				  <tr>
				    <th>{{activity[0]}}</th>
				    	<tr class="separator"/>
				    <th>{{activity[1]}}</th>
				    	<tr class="separator"/>
				    <th>{{activity[2]}}</th>
				    	<tr class="separator"/>
				    <th>{{activity[3]}}</th>
				    	<tr class="separator"/>
				  </tr>
				</table>
			{% endfor %}
	{% endif %}
	</ul>
	</table>
{% endblock %}





#Create trip page
@app.route('/trips')
def trips():
    cursor = db.cursor()
    cursor.execute("select * from trip")
    trips = cursor.fetchall()
    cursor.execute("select activity.reservationnumber, activity.name, activity.startdatetime, activity.enddatetime from activity join trip using (trip_id) where trip_id = activity.trip_id")
    activities = cursor.fetchall()
    column_names = [desc[0] for desc in cursor.description]
    cursor.close()
    return render_template('trips.html', table=table,
        columns=column_names, rows=trips, acts=activities)