{% extends "base.html" %}


{% block title %}Table: {{attraction}}{% endblock %}

{% block content %}
<a href="/attractionpage">Back to attraction list</a>
<h1>{{attraction}} Data</h1>

<style type="text/css">
td
{
    padding:10px 20px 20px 0px;
}
</style>

<img src='{{url}}',height = '300', width='300'/>

<table>
  <tr>
    {% for column in columns %}
      <th>{{column}}</th>
    {% endfor %}
  </tr>
  {% for row in rows %}
  
    <tr>
      
      {% for cell in row %}
        <td>{{cell}}</td>
      {% endfor %}
      
    </tr>
    
  {% endfor %}


</table>
<h2>Activities here</h2>

  {% for name in activitynames %}
      <a href="/name">{{name}}[0]</a>
      hello
  {% endfor %}
  <br><br>
<a href="/attractionpage">Back to attraction list</a>
{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(form) }}
{% endblock %}
