{% extends "base.html" %}
{% block title %}Viewing Trips{{table}}{% endblock %}

{% block content %}
<h1>Your Trips</h1>
<table>
  <tr>
    <th>City</th>
    <th>Date</th>
  </tr>
	<ul>
	{% if rows %} 
		{% for trip in rows %}
			{% if trip[4] == session['user_email']%}
				<table>
				  <tr>
				    <th>{{trip[1]}}</th>
				    	<tr class="separator"/>
				    <th>{{trip[2]}}</th>
				    	<tr class="separator"/>
				  </tr>
				</table>
			{% endif %}
		{% endfor %}
	{% endif %}
	</ul>
	</table>
    </tr>
</table>
{% endblock %}