{% extends "base.html" %}
{% block title %}Viewing Trips{{table}}{% endblock %}

{% block content %}
<!--<a href="/home">Back to table list</a>-->
<h1>Viewing Attractions</h1>
<table>

  <tr>
    <!--{% for column in columns %}
      <th>{{column}}</th>
    {% endfor %}-->

    <th>City</th>
    <th>Date</th>

  </tr>

  {% for row in rows %}
    <tr>
        <tr class="separator" />
        
      {% for cell in row %}
      
        <td>{{cell}}</td>
        
      {% endfor %}
      <td><button type="button">View activities</button><td>
    </tr>
  {% endfor %}
</table>

{% endblock %}