{% extends "base.html" %}
{% block title %}Table: {{table}}{% endblock %}

{% block content %}
<a href="/browse_db">Back to table list</a>
<h1>{{table}} Data</h1>

<style type="text/css">
td
{
    padding:10px 20px 20px 10px;
}
</style>
<table>
  <tr>
    {% for column in columns %}
      <th>{{column}}</th>
    {% endfor %}
  </tr>
  {% for row in rows %}
    <tr>
      <button type="button">Click Me!</button>
      {% for cell in row %}
        <td>{{cell}}</td>
      {% endfor %}
    </tr>
    <button type="button">Click Me!</button>
  {% endfor %}
</table>
<a href="/browse_db">Back to table list</a>
{% endblock %}
