{% extends "base.html" %}
{% block title %}Viewing Trips{% endblock %}

{% block content %}
<h1>Your Trips</h1>


<table>
	<ul>

		<style type="text/css">
td
{
    padding:10px 20px 20px 0px;
}
</style>
	<ul>
	{% if rows %} 
		{% for trip in rows %}
			{% if trip[4] == session['user_email']%}
				<table>
				  <tr>
				    <th>City: {{trip[1]}}</th>
				    	<tr class="separator"/>
				    <th>Date: {{trip[2]}}</th>
				    	<tr class="separator"/>
				    <th>Have you booked the trip? {{trip[3]}}!</th>
				    	<tr class="separator"/>
				  </tr>
				</table>
			{% endif %}
		{% endfor %}
	{% endif %}
	</ul>
	<ul>
	{% if activities %} 
		{% for activity in activities %}
				<table>
				  <tr>
				    <th>{{activity[3]}}</th>
				    	<tr class="separator"/>
				    <th>{{activity[2]}}</th>
				    	<tr class="separator"/>
				    <th>{{activity[4]}}</th>
				    	<tr class="separator"/>
				    <th>{{activity[5]}}</th>
				    	<tr class="separator"/>
				  </tr>
				</table>
		{% endfor %}
	{% endif %}
	</ul>
	</table>
{% endblock %}